body {
    padding: 15px;
    margin: 0;
    font-size: 11px;
    color: #16325c;
    font-family: "Salesforce Sans", Arial, sans-serif;
}

.mac-master {
    width: 580px;
    height: 660px;
    background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e %3csvg width='580px' height='420px' viewBox='0 0 580 420' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3c!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch --%3e %3ctitle%3epreview-macos%3c/title%3e %3cdesc%3eCreated with Sketch.%3c/desc%3e %3cdefs%3e %3crect id='path-1' x='0' y='0' width='580' height='420'%3e%3c/rect%3e %3crect id='path-3' x='0' y='0' width='1280' height='22'%3e%3c/rect%3e %3cfilter x='-2.7%25' y='-118.2%25' width='105.3%25' height='411.4%25' filterUnits='objectBoundingBox' id='filter-4'%3e %3cfeOffset dx='0' dy='8' in='SourceAlpha' result='shadowOffsetOuter1'%3e%3c/feOffset%3e %3cfeGaussianBlur stdDeviation='10' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3e%3c/feGaussianBlur%3e %3cfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'%3e%3c/feComposite%3e %3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0' type='matrix' in='shadowBlurOuter1' result='shadowMatrixOuter1'%3e%3c/feColorMatrix%3e %3cfeOffset dx='0' dy='0.5' in='SourceAlpha' result='shadowOffsetOuter2'%3e%3c/feOffset%3e %3cfeComposite in='shadowOffsetOuter2' in2='SourceAlpha' operator='out' result='shadowOffsetOuter2'%3e%3c/feComposite%3e %3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0' type='matrix' in='shadowOffsetOuter2' result='shadowMatrixOuter2'%3e%3c/feColorMatrix%3e %3cfeMerge%3e %3cfeMergeNode in='shadowMatrixOuter1'%3e%3c/feMergeNode%3e %3cfeMergeNode in='shadowMatrixOuter2'%3e%3c/feMergeNode%3e %3c/feMerge%3e %3c/filter%3e %3c/defs%3e %3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e %3cg id='Artboard' transform='translate(-601.000000%2c -109.000000)'%3e %3cg id='preview-macos' transform='translate(601.000000%2c 109.000000)'%3e %3cmask id='mask-2' fill='white'%3e %3cuse xlink:href='%23path-1'%3e%3c/use%3e %3c/mask%3e %3cuse id='background' fill='%23F7F7F7' xlink:href='%23path-1'%3e%3c/use%3e %3cg id='%e2%9a%99%ef%b8%8f-Menu-Bar' mask='url(%23mask-2)'%3e %3cg transform='translate(-699.000000%2c -2.000000)'%3e %3cg id='Bar-Base'%3e %3cuse fill='black' fill-opacity='1' filter='url(%23filter-4)' xlink:href='%23path-3'%3e%3c/use%3e %3cuse fill-opacity='0.8' fill='%23FAFAFA' fill-rule='evenodd' xlink:href='%23path-3'%3e%3c/use%3e %3c/g%3e %3cg id='System-Bar-Apps' stroke-width='1' fill-rule='evenodd' transform='translate(1083.000000%2c 3.000000)'%3e %3cpath d='M156%2c3 L158%2c3 L158%2c5 L156%2c5 L156%2c3 Z M160%2c3 L174%2c3 L174%2c5 L160%2c5 L160%2c3 Z M156%2c7 L158%2c7 L158%2c9 L156%2c9 L156%2c7 Z M160%2c7 L171%2c7 L171%2c9 L160%2c9 L160%2c7 Z M156%2c11 L158%2c11 L158%2c13 L156%2c13 L156%2c11 Z M160%2c11 L174%2c11 L174%2c13 L160%2c13 L160%2c11 Z' id='Notification-Center' fill-opacity='0.75' fill='black'%3e%3c/path%3e %3cg id='Spotlight' opacity='0.8' transform='translate(126.000000%2c 1.000000)' stroke='black' stroke-width='1.5'%3e %3ccircle id='Oval' cx='5.5' cy='5.5' r='4.75'%3e%3c/circle%3e %3cpath d='M13.5%2c13.5 L9%2c9' id='Path-2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e %3c/g%3e %3ctext id='11:17' opacity='0.8' font-family='Roboto' font-size='14' font-weight='normal' letter-spacing='-0.239999995' fill='black'%3e %3ctspan x='83' y='13'%3e11:17%3c/tspan%3e %3c/text%3e %3cg id='Volume' opacity='0.8' transform='translate(56.000000%2c 2.000000)'%3e %3cpath d='M0%2c3.99077797 C0%2c3.44358641 0.443353176%2c3 1.0093689%2c3 L4%2c3 L8%2c1.77635684e-15 L8%2c12 L4%2c9 L1.0093689%2c9 C0.451909848%2c9 0%2c8.54902482 0%2c8.00922203 L0%2c3.99077797 Z' id='Base' fill='black'%3e%3c/path%3e %3cpath d='M13.8088655%2c11 C15.0728151%2c9.64698427 15.85%2c7.80760061 15.85%2c5.78114686 C15.85%2c3.72341932 15.0486418%2c1.85858044 13.75%2c0.5' id='Wave' stroke='black' stroke-linecap='round'%3e%3c/path%3e %3cpath d='M10.5%2c9.5 C11.4253179%2c8.60394435 12%2c7.35164742 12%2c5.96588657 C12%2c4.61495082 11.4538392%2c3.39085521 10.5690937%2c2.5' id='Wave' stroke='black' stroke-linecap='round'%3e%3c/path%3e %3c/g%3e %3cg id='Wi-Fi' transform='translate(25.000000%2c 1.000000)'%3e %3cpath d='M20.1385026%2c3.84617829 C17.6282488%2c1.46255106 14.2349229%2c0 10.5%2c0 C6.74022402%2c0 3.3266064%2c1.48208014 0.811503438%2c3.89388413' id='Oval-2' stroke='black' stroke-width='1.2' stroke-linecap='square'%3e%3c/path%3e %3cpath d='M17.346826%2c6.71154471 C15.5575962%2c5.03007727 13.1490918%2c4 10.5%2c4 C7.85646811%2c4 5.45251483%2c5.02575795 3.66444788%2c6.70096613' id='Oval-2' stroke='black' stroke-width='1.2' stroke-linecap='square'%3e%3c/path%3e %3cpath d='M14.5040825%2c9.53144429 C13.4420824%2c8.57918992 12.0386797%2c8 10.5%2c8 C8.97486764%2c8 7.58264072%2c8.56903582 6.52404798%2c9.50637871' id='Oval-2' stroke='black' stroke-width='1.2' stroke-linecap='square'%3e%3c/path%3e %3cpath d='M10.5%2c14 C10.5%2c14 10.5%2c14 12.4761102%2c12.468473 C12.0187606%2c11.8792159 11.3036656%2c11.5 10.5%2c11.5 C9.67370406%2c11.5 8.94103707%2c11.9008732 8.48587133%2c12.5187473 C10.4809908%2c14 10.5%2c14 10.5%2c14 Z' id='Oval-2' fill='black'%3e%3c/path%3e %3c/g%3e %3cg id='Bluetooth' opacity='0.8' transform='translate(0.000000%2c 1.000000)'%3e %3cpath d='M1.5%2c9 C0.671572875%2c9 0%2c8.32842712 0%2c7.5 C0%2c6.67157288 0.671572875%2c6 1.5%2c6 C2.32842712%2c6 3%2c6.67157288 3%2c7.5 C3%2c8.32842712 2.32842712%2c9 1.5%2c9 Z M5.5%2c9 C4.67157288%2c9 4%2c8.32842712 4%2c7.5 C4%2c6.67157288 4.67157288%2c6 5.5%2c6 C6.32842712%2c6 7%2c6.67157288 7%2c7.5 C7%2c8.32842712 6.32842712%2c9 5.5%2c9 Z M9.5%2c9 C8.67157288%2c9 8%2c8.32842712 8%2c7.5 C8%2c6.67157288 8.67157288%2c6 9.5%2c6 C10.3284271%2c6 11%2c6.67157288 11%2c7.5 C11%2c8.32842712 10.3284271%2c9 9.5%2c9 Z' id='Dots' fill='black'%3e%3c/path%3e %3cpolyline id='Path-4' stroke='black' opacity='0.5' transform='translate(7.500000%2c 11.750000) scale(1%2c -1) translate(-7.500000%2c -11.750000) ' points='5.5 14 5.5 9 9.5 12.5 7 14.5'%3e%3c/polyline%3e %3cpolyline id='Path-4' stroke='black' opacity='0.5' points='5.5 5.5 5.5 0.5 9.5 4 7 6'%3e%3c/polyline%3e %3cpath d='M1%2c3.5 L4%2c6' id='Path-5' stroke='black' opacity='0.5'%3e%3c/path%3e %3cpath d='M1%2c11.5 L4%2c9' id='Path-6' stroke='black' opacity='0.5'%3e%3c/path%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    margin: 0px auto;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-image: initial;
    border-radius: 7px;
}

.mac-icon-chrome {
    align-self: center;
    justify-self: center;
    padding: 26.3% 7.73% 26.3% 17.02%;
    width: 100%;
}

.mac-container-texto {
    align-self: center;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
    padding: 0px 2.44%;
}

.mac-container-titulo {
    width: 100%;
    font-weight: 500;
    color: rgb(77, 77, 77);
    font-size: 1.5em;
    letter-spacing: 0.5px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    overflow: hidden;
}

.mac-conteiner-site {
    width: 100%;
    font-weight: 500;
    color: rgb(77, 77, 77);
    font-size: 18.72px;
    letter-spacing: 0.4px;
    margin: 0px;
}

.mac-conteiner-corpo {
    width: 100%;
    font-weight: 400;
    color: rgb(77, 77, 77);
    font-size: 1.4em;
    letter-spacing: 0.5px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    overflow: hidden;
}

.mac-conteiner-imagem {
    align-self: center;
    justify-self: center;
    padding: 12.44%;
    position: absolute;
    width: 39%;
    left: 71%;
}

.mac-conteiner {
    display: inline-grid;
    grid-template-columns: 13.89fr 86.11fr;
    font-family: Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;
    width: 88%;
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 13px 1px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    user-select: none;
    position: relative;
    top: 55px;
    left: 8px;
    border-radius: 8px;
    margin: auto 25px;
}

.mac-imagem {
    width: 100%;
}


.win-master {
    width: 580px;
    height: 660px;
    background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e %3csvg width='580px' height='420px' viewBox='0 0 580 420' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3c!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch --%3e %3ctitle%3epreview-windows%3c/title%3e %3cdesc%3eCreated with Sketch.%3c/desc%3e %3cdefs%3e %3crect id='path-1' x='0' y='0' width='580' height='420'%3e%3c/rect%3e %3c/defs%3e %3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e %3cg id='Artboard' transform='translate(-601.000000%2c -109.000000)'%3e %3cg id='preview-windows' transform='translate(601.000000%2c 109.000000)'%3e %3cmask id='mask-2' fill='white'%3e %3cuse xlink:href='%23path-1'%3e%3c/use%3e %3c/mask%3e %3cuse id='background' fill='%23F7F7F7' xlink:href='%23path-1'%3e%3c/use%3e %3crect id='Background' fill='%23191A1E' mask='url(%23mask-2)' x='0' y='378' width='580' height='42'%3e%3c/rect%3e %3ctext id='11:17-AM-11/11/2017' mask='url(%23mask-2)' font-family='Segoe UI%2c Roboto%2c Proxima-Nova%2c Proxima Nova%2c Open Sans%2c Arial%2c Helvetica%2c sans-serif' font-size='11' font-weight='normal' line-spacing='13' fill='white'%3e %3ctspan x='490' y='397'%3e11:17 AM%3c/tspan%3e %3ctspan x='481' y='410'%3e11/11/2017%3c/tspan%3e %3c/text%3e %3crect id='Rectangle-8' fill='%234E4E50' mask='url(%23mask-2)' x='578' y='378' width='2' height='42'%3e%3c/rect%3e %3cpath d='M402.517152%2c402.377333 C401.535922%2c401.696 400.326861%2c401.333333 399%2c401.333333 C397.673139%2c401.333333 396.462783%2c401.696 395.482848%2c402.377333 L394.430421%2c401.296 C395.669256%2c400.394667 397.262783%2c400 399%2c400 C400.738511%2c400 402.332039%2c400.394667 403.568285%2c401.296 L402.517152%2c402.377333 Z M405.381877%2c399.426667 C403.673139%2c398.037333 401.444013%2c397.333333 399%2c397.333333 C396.555987%2c397.333333 394.325566%2c398.037333 392.616828%2c399.426667 L391.829773%2c398.614667 C393.758576%2c396.958667 396.260841%2c396 399%2c396 C401.739159%2c396 404.242718%2c396.958667 406.170227%2c398.614667 L405.381877%2c399.426667 Z M407.977346%2c396.753333 C405.579935%2c394.609333 402.442071%2c393.333333 399%2c393.333333 C395.557929%2c393.333333 392.420065%2c394.609333 390.022654%2c396.753333 L389%2c395.701333 C391.645955%2c393.336 395.148867%2c392 399%2c392 C402.851133%2c392 406.354045%2c393.336 409%2c395.701333 L407.977346%2c396.753333 Z M399.001163%2c406 C398.286232%2c406 397.706665%2c405.403046 397.706665%2c404.666667 C397.706665%2c403.930287 398.286232%2c403.333333 399.001163%2c403.333333 C399.716095%2c403.333333 400.295662%2c403.930287 400.295662%2c404.666667 C400.295662%2c405.403046 399.716095%2c406 399.001163%2c406 Z' id='Wi-Fi-icon' fill='white' mask='url(%23mask-2)'%3e%3c/path%3e %3cpath d='M422%2c394 L440.75%2c394 L440.75%2c404 L422%2c404 L422%2c394 Z M423.25%2c402.75 L423.25%2c395.25 L439.5%2c395.25 L439.5%2c402.75 L423.25%2c402.75 Z M442.72875%2c400.25 L440.75%2c400.25 L440.75%2c399 L441.409583%2c399 L440.75%2c399 L440.75%2c397.75 L442.72875%2c397.75 L442.72875%2c400.25 Z' id='Fill-30-Copy-2' fill='white' mask='url(%23mask-2)'%3e%3c/path%3e %3cpath d='M562.71875%2c406 L569.75%2c406 L569.75%2c390 L551%2c390 L551%2c406 L558.28125%2c406 L560.5%2c409.55 L562.71875%2c406 Z' id='Messages' fill='white' mask='url(%23mask-2)'%3e%3c/path%3e %3cpath d='M562.25%2c404.75 L568.5%2c404.75 L568.5%2c391.25 L552.25%2c391.25 L552.25%2c404.75 L558.75%2c404.75 L560.5%2c407.55 L562.25%2c404.75 Z' id='Messagesinside' fill='%23191A1E' mask='url(%23mask-2)'%3e%3c/path%3e %3cpath d='M470.472481%2c407.664327 L469.66439%2c406.882122 C473.949072%2c402.444375 473.949072%2c395.221078 469.66439%2c390.782205 L470.472481%2c390 C475.17584%2c394.86993 475.17584%2c402.795523 470.472481%2c407.664327 Z M468.043706%2c405.318838 L467.23449%2c404.536633 C470.272146%2c401.390931 470.272146%2c396.273397 467.23449%2c393.127694 L468.043706%2c392.34549 C471.498914%2c395.923374 471.498914%2c401.742079 468.043706%2c405.318838 Z M465.614931%2c402.973348 L464.805715%2c402.191143 C466.59522%2c400.339737 466.59522%2c397.325716 464.805715%2c395.473184 L465.614931%2c394.690979 C467.820862%2c396.975693 467.820862%2c400.68976 465.614931%2c402.973348 Z M461.627374%2c393.671299 L461.627374%2c403.994154 L458.716896%2c401.083676 L457.125475%2c401.083676 L457.125475%2c396.581777 L458.716896%2c396.581777 L459.04666%2c396.252013 L461.627374%2c393.671299 Z M462.752849%2c392.079877 L461.627374%2c392.079877 L458.25095%2c395.456302 L456%2c395.456302 L456%2c402.209151 L458.25095%2c402.209151 L461.627374%2c405.585575 L462.752849%2c405.585575 L462.752849%2c392.079877' id='Fill-32' fill='white' mask='url(%23mask-2)'%3e%3c/path%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/svg%3e");
    background-size: cover;
    position: relative;
    color: rgb(167, 167, 167);
    font-family: "Segoe UI", Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    margin: 0px auto;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-image: initial;
    border-radius: 7px;
}


.win-imagem-destaque {
    font-size: 9px;
    width: 45.4375em;
    position: absolute;
    right: 9px;
    bottom: 75px;
    background: rgb(32, 32, 32);
}

.win-img-destaque {
    width: 100%;
}

.win-conteiner-geral {
    display: flex;
    flex-direction: row;
    position: relative;
}

.win-imagem-lateral {
    padding: 2.9375em 2em;
}

.win-img-lateral {
    width: 6.0625em;
}

.win-conteiner-texto {
    width: 68.36%;
    padding: 2.9375em 0px 2.5em;
}

.win-conteiner-titulo {
    color: rgb(255, 255, 255);
    font-size: 190%;
    letter-spacing: 0.1px;
    max-height: 40px;
    margin: 0px;
    overflow: hidden;
}

.win-conteiner-menssagem {
    letter-spacing: 0px;
    font-size: 190%;
    font-weight: 400;
    max-height: 80px;
    margin: 0px;
    overflow: hidden;
}

.win-conteiner-site {
    font-size: 150%;
    margin-top: 10px;
}

.win-botton {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 2em 2.9375em;
    margin: -3px;
}

.win-rigth-icon {
    position: absolute;
    top: 1.5625em;
    right: 1.5625em;
    /* display: none; */
    background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e %3csvg viewBox='0 0 31.49 31.49' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M21.2 5a1.11 1.11 0 0 0-1.58 0 1.12 1.12 0 0 0 0 1.58l8.04 8.04H1.11c-.62 0-1.11.5-1.11 1.12 0 .62.5 1.12 1.11 1.12h26.55l-8.04 8.04a1.14 1.14 0 0 0 0 1.58 1.1 1.1 0 0 0 1.58 0l9.96-9.95a1.1 1.1 0 0 0 0-1.57L21.2 5.01z' fill='white'/%3e %3c/svg%3e");
    width: 23px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: right center;
}

.win-mini-chrome-icon {
    align-self: center;
    justify-self: center;
    padding: 26.3% 7.73% 26.3% 17.02%;
}

.win-mini-chrome-icon-width {
    width: 15px;
}

.mob-master {
    width: 450px;
    height: 660px;
    background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e %3csvg width='450px' height='855px' viewBox='0 0 450 855' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e %3c!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch --%3e %3ctitle%3epreview-android%3c/title%3e %3cdesc%3eCreated with Sketch.%3c/desc%3e %3cdefs%3e %3crect id='path-1' x='0' y='112.059974' width='7.04041721' height='69.2307692' rx='3.5202086'%3e%3c/rect%3e %3c/defs%3e %3cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e %3cg id='Samsung-Galaxy-S8-by-Emanuel-Serbanoiu' transform='translate(-127.000000%2c -122.000000)'%3e %3cg id='preview-android' transform='translate(127.000000%2c 122.000000)'%3e %3cmask id='mask-2' fill='white'%3e %3cuse xlink:href='%23path-1'%3e%3c/use%3e %3c/mask%3e %3cuse id='btn' fill='%23EBEBEB' xlink:href='%23path-1'%3e%3c/use%3e %3crect id='btn' fill='%23EBEBEB' x='0' y='193.024772' width='7.04041721' height='69.2307692' rx='3.5202086'%3e%3c/rect%3e %3crect id='btn' fill='%23EBEBEB' x='442.959583' y='262.255541' width='7.04041721' height='69.2307692' rx='3.5202086'%3e%3c/rect%3e %3crect id='edges' fill='%23F2F2F2' x='4.10691004' y='1.12911876e-13' width='442.372881' height='854.82399' rx='58'%3e%3c/rect%3e %3cpath d='M6.45371578%2c58.666238 L6.45371578%2c797.917856 C6.45371578%2c826.426308 29.571508%2c849.543677 58.0844043%2c849.543677 L392.502297%2c849.543677 C421.019087%2c849.543677 444.132986%2c826.431016 444.132986%2c797.917856 L444.132986%2c58.666238 C444.132986%2c30.1577861 421.015193%2c7.04041721 392.502297%2c7.04041721 L58.0844043%2c7.04041721 C29.5676143%2c7.04041721 6.45371578%2c30.1530782 6.45371578%2c58.666238 Z' id='main-bg' fill='white' fill-rule='nonzero'%3e%3c/path%3e %3cpath d='M14.0808344%2c70.4016659 C14.0808344%2c57.4419999 24.5886712%2c46.9361147 37.545457%2c46.9361147 L413.041244%2c46.9361147 C426.000398%2c46.9361147 436.505867%2c57.4458237 436.505867%2c70.4016659 L436.505867%2c786.182428 C436.505867%2c799.142094 425.99803%2c809.647979 413.041244%2c809.647979 L37.545457%2c809.647979 C24.5863038%2c809.647979 14.0808344%2c799.13827 14.0808344%2c786.182428 L14.0808344%2c70.4016659 Z' id='Path' fill='%23EBEBEB'%3e%3c/path%3e %3cpath d='M16.4276402%2c70.4016659 L16.4276402%2c786.182428 C16.4276402%2c797.843566 25.8838092%2c807.301173 37.545457%2c807.301173 L413.041244%2c807.301173 C424.702759%2c807.301173 434.159061%2c797.845156 434.159061%2c786.182428 L434.159061%2c70.4016659 C434.159061%2c58.7405281 424.702892%2c49.2829205 413.041244%2c49.2829205 L37.545457%2c49.2829205 C25.8839428%2c49.2829205 16.4276402%2c58.7389383 16.4276402%2c70.4016659 Z' id='screen' fill='%23F7F7F7' fill-rule='nonzero'%3e%3c/path%3e %3cg id='Time-%2b-Date' transform='translate(116.100000%2c 158.400000)'%3e %3cpath d='M19.1539959%2c96.4754459 L15.7488124%2c96.4754459 L15.7488124%2c105.919737 L14.3590901%2c105.919737 L14.3590901%2c96.4754459 L10.9611826%2c96.4754459 L10.9611826%2c95.3258326 L19.1539959%2c95.3258326 L19.1539959%2c96.4754459 Z M30.1505266%2c95.3258326 L30.1505266%2c102.529105 C30.1456759%2c103.528352 29.831597%2c104.345685 29.2082803%2c104.981129 C28.5849637%2c105.616572 27.7397397%2c105.973094 26.6725828%2c106.050705 L26.3015051%2c106.065258 C25.1421847%2c106.065258 24.2181377%2c105.752391 23.5293365%2c105.126649 C22.8405353%2c104.500907 22.4912892%2c103.639919 22.4815877%2c102.543657 L22.4815877%2c95.3258326 L23.864034%2c95.3258326 L23.864034%2c102.500001 C23.864034%2c103.266414 24.0750369%2c103.86183 24.4970489%2c104.286267 C24.9190609%2c104.710705 25.5205403%2c104.92292 26.3015051%2c104.92292 C27.0921713%2c104.92292 27.6972887%2c104.711917 28.1168754%2c104.289905 C28.536462%2c103.867893 28.7462522%2c103.27369 28.7462522%2c102.507277 L28.7462522%2c95.3258326 L30.1505266%2c95.3258326 Z M40.3103135%2c101.022967 L35.7191367%2c101.022967 L35.7191367%2c104.7774 L41.0524689%2c104.7774 L41.0524689%2c105.919737 L34.3221383%2c105.919737 L34.3221383%2c95.3258326 L40.9797086%2c95.3258326 L40.9797086%2c96.4754459 L35.7191367%2c96.4754459 L35.7191367%2c99.8806294 L40.3103135%2c99.8806294 L40.3103135%2c101.022967 Z M47.8798327%2c101.197591 C46.6817066%2c100.853191 45.809804%2c100.429972 45.2640988%2c99.9279236 C44.7183936%2c99.4258748 44.4455451%2c98.8062055 44.4455451%2c98.0688971 C44.4455451%2c97.2345745 44.7790266%2c96.5445709 45.4459996%2c95.9988657 C46.1129727%2c95.4531605 46.9800246%2c95.180312 48.0471815%2c95.180312 C48.7747884%2c95.180312 49.4235615%2c95.3209806 49.9935203%2c95.6023219 C50.5634791%2c95.8836633 51.0048873%2c96.2717145 51.3177583%2c96.7664872 C51.6306293%2c97.2612599 51.7870625%2c97.8021063 51.7870625%2c98.3890426 L50.3827881%2c98.3890426 C50.3827881%2c97.7487485 50.1790612%2c97.2454945 49.7716013%2c96.8792657 C49.3641414%2c96.5130369 48.7893405%2c96.3299252 48.0471815%2c96.3299252 C47.3583802%2c96.3299252 46.8211718%2c96.4815077 46.4355401%2c96.7846773 C46.0499084%2c97.0878468 45.8570955%2c97.5086399 45.8570955%2c98.047069 C45.8570955%2c98.4787825 46.0402072%2c98.8437932 46.406436%2c99.142112 C46.7726648%2c99.4404309 47.3959721%2c99.7132794 48.2763765%2c99.9606657 C49.1567809%2c100.208052 49.8455718%2c100.480901 50.3427699%2c100.779219 C50.839968%2c101.077538 51.2086166%2c101.425572 51.4487269%2c101.82333 C51.6888372%2c102.221089 51.8088906%2c102.689175 51.8088906%2c103.227605 C51.8088906%2c104.086181 51.4741964%2c104.773759 50.804798%2c105.29036 C50.1353996%2c105.806961 49.2404565%2c106.065258 48.1199418%2c106.065258 C47.3923348%2c106.065258 46.7132452%2c105.925802 46.0826525%2c105.646886 C45.4520598%2c105.36797 44.9657831%2c104.985982 44.6238079%2c104.50091 C44.2818326%2c104.015839 44.1108475%2c103.465291 44.1108475%2c102.849251 L45.5151219%2c102.849251 C45.5151219%2c103.489545 45.7515906%2c103.995224 46.2245352%2c104.366304 C46.6974797%2c104.737383 47.3292756%2c104.92292 48.1199418%2c104.92292 C48.8572502%2c104.92292 49.4223497%2c104.77255 49.8152575%2c104.471806 C50.2081652%2c104.171062 50.4046162%2c103.761183 50.4046162%2c103.242157 C50.4046162%2c102.72313 50.2227172%2c102.32174 49.8589137%2c102.037973 C49.4951102%2c101.754206 48.8354231%2c101.474082 47.8798327%2c101.197591 Z M55.5657684%2c105.919737 L55.5657684%2c95.3258326 L58.556218%2c95.3258326 C59.4778534%2c95.3258326 60.292761%2c95.5295595 61.0009651%2c95.9370194 C61.7091692%2c96.3444793 62.2560789%2c96.9241308 62.6417106%2c97.6759913 C63.0273422%2c98.4278519 63.2225805%2c99.2912658 63.2274312%2c100.266259 L63.2274312%2c100.94293 C63.2274312%2c101.942177 63.0346183%2c102.817718 62.6489866%2c103.569578 C62.2633549%2c104.321439 61.7128072%2c104.898665 60.9973271%2c105.301274 C60.2818469%2c105.703883 59.4487494%2c105.910035 58.4980097%2c105.919737 L55.5657684%2c105.919737 Z M56.9627667%2c96.4754459 L56.9627667%2c104.7774 L58.4325254%2c104.7774 C59.5093837%2c104.7774 60.3473318%2c104.442705 60.9463948%2c103.773307 C61.5454579%2c103.103909 61.8449849%2c102.150758 61.8449849%2c100.913826 L61.8449849%2c100.295363 C61.8449849%2c99.0923864 61.5624351%2c98.1574255 60.9973271%2c97.4904525 C60.432219%2c96.8234795 59.6306507%2c96.4851473 58.5925981%2c96.4754459 L56.9627667%2c96.4754459 Z M73.1543851%2c103.154844 L68.7160049%2c103.154844 L67.7191884%2c105.919737 L66.2785338%2c105.919737 L70.3240082%2c95.3258326 L71.5463818%2c95.3258326 L75.5991322%2c105.919737 L74.1657537%2c105.919737 L73.1543851%2c103.154844 Z M69.1380148%2c102.005231 L72.7396512%2c102.005231 L70.935195%2c97.0502525 L69.1380148%2c102.005231 Z M81.5388199%2c100.644613 L84.3037125%2c95.3258326 L85.8898877%2c95.3258326 L82.2373191%2c101.968851 L82.2373191%2c105.919737 L80.8403208%2c105.919737 L80.8403208%2c101.968851 L77.1877521%2c95.3258326 L78.7884794%2c95.3258326 L81.5388199%2c100.644613 Z M87.4348515%2c108.029786 L86.670868%2c107.505912 C87.126835%2c106.870469 87.3645164%2c106.215632 87.3839192%2c105.541383 L87.3839192%2c104.326286 L88.7008812%2c104.326286 L88.7008812%2c105.38131 C88.7008812%2c105.871232 88.5808279%2c106.361147 88.3407176%2c106.851069 C88.1006073%2c107.340991 87.7986549%2c107.733893 87.4348515%2c108.029786 Z M106.386531%2c100.964758 C106.386531%2c102.002811 106.211908%2c102.908668 105.862657%2c103.682357 C105.513405%2c104.456045 105.01864%2c105.046611 104.378346%2c105.454071 C103.738052%2c105.861531 102.991053%2c106.065258 102.137328%2c106.065258 C101.303005%2c106.065258 100.563282%2c105.860318 99.9181377%2c105.450433 C99.2729928%2c105.040547 98.7721642%2c104.456045 98.4156368%2c103.696909 C98.0591094%2c102.937772 97.8759978%2c102.058594 97.8662963%2c101.059347 L97.8662963%2c100.295363 C97.8662963%2c99.2767135 98.0433447%2c98.3769198 98.3974468%2c97.595955 C98.7515488%2c96.8149902 99.2523774%2c96.2171488 99.8999476%2c95.8024128 C100.547518%2c95.3876769 101.288453%2c95.180312 102.122776%2c95.180312 C102.97165%2c95.180312 103.719862%2c95.3852515 104.367432%2c95.7951368 C105.015002%2c96.205022 105.513405%2c96.7992255 105.862657%2c97.5777649 C106.211908%2c98.3563043 106.386531%2c99.2621614 106.386531%2c100.295363 L106.386531%2c100.964758 Z M104.996809%2c100.280811 C104.996809%2c99.0244765 104.744575%2c98.0604118 104.240101%2c97.388588 C103.735627%2c96.7167643 103.029859%2c96.3808574 102.122776%2c96.3808574 C101.239946%2c96.3808574 100.545092%2c96.7167643 100.038192%2c97.388588 C99.5312927%2c98.0604118 99.2705708%2c98.9929474 99.2560187%2c100.186223 L99.2560187%2c100.964758 C99.2560187%2c102.182287 99.5118899%2c103.139076 100.02364%2c103.835153 C100.53539%2c104.531231 101.239946%2c104.879264 102.137328%2c104.879264 C103.03956%2c104.879264 103.738053%2c104.550633 104.232825%2c103.893362 C104.727598%2c103.23609 104.982257%2c102.293853 104.996809%2c101.066623 L104.996809%2c100.280811 Z M118.241634%2c102.55821 C118.110664%2c103.678724 117.697147%2c104.543351 117.00107%2c105.152115 C116.304993%2c105.76088 115.379733%2c106.065258 114.225263%2c106.065258 C112.97378%2c106.065258 111.97091%2c105.616573 111.216624%2c104.719191 C110.462338%2c103.821809 110.085201%2c102.621276 110.085201%2c101.117555 L110.085201%2c100.09891 C110.085201%2c99.1142156 110.261036%2c98.2483763 110.612713%2c97.5013665 C110.96439%2c96.7543567 111.462793%2c96.1807685 112.107938%2c95.7805847 C112.753083%2c95.3804009 113.500081%2c95.180312 114.348956%2c95.180312 C115.474321%2c95.180312 116.376541%2c95.4943909 117.05564%2c96.1225583 C117.73474%2c96.7507256 118.130067%2c97.6202029 118.241634%2c98.7310161 L116.837359%2c98.7310161 C116.716092%2c97.8869921 116.452944%2c97.2758114 116.04791%2c96.8974558 C115.642875%2c96.5191002 115.076563%2c96.3299252 114.348956%2c96.3299252 C113.456425%2c96.3299252 112.75672%2c96.6597688 112.24982%2c97.3194657 C111.742921%2c97.9791627 111.489475%2c98.9177616 111.489475%2c100.135291 L111.489475%2c101.161211 C111.489475%2c102.31083 111.729582%2c103.225176 112.209802%2c103.904276 C112.690023%2c104.583375 113.361837%2c104.92292 114.225263%2c104.92292 C115.001378%2c104.92292 115.596794%2c104.747085 116.01153%2c104.395408 C116.426266%2c104.043731 116.701539%2c103.431338 116.837359%2c102.55821 L118.241634%2c102.55821 Z M129.223612%2c96.4754459 L125.818429%2c96.4754459 L125.818429%2c105.919737 L124.428707%2c105.919737 L124.428707%2c96.4754459 L121.030799%2c96.4754459 L121.030799%2c95.3258326 L129.223612%2c95.3258326 L129.223612%2c96.4754459 Z M140.707637%2c100.964758 C140.707637%2c102.002811 140.533014%2c102.908668 140.183763%2c103.682357 C139.834512%2c104.456045 139.339746%2c105.046611 138.699452%2c105.454071 C138.059158%2c105.861531 137.31216%2c106.065258 136.458434%2c106.065258 C135.624111%2c106.065258 134.884389%2c105.860318 134.239244%2c105.450433 C133.594099%2c105.040547 133.09327%2c104.456045 132.736743%2c103.696909 C132.380216%2c102.937772 132.197104%2c102.058594 132.187403%2c101.059347 L132.187403%2c100.295363 C132.187403%2c99.2767135 132.364451%2c98.3769198 132.718553%2c97.595955 C133.072655%2c96.8149902 133.573484%2c96.2171488 134.221054%2c95.8024128 C134.868624%2c95.3876769 135.609559%2c95.180312 136.443882%2c95.180312 C137.292757%2c95.180312 138.040968%2c95.3852515 138.688538%2c95.7951368 C139.336108%2c96.205022 139.834512%2c96.7992255 140.183763%2c97.5777649 C140.533014%2c98.3563043 140.707637%2c99.2621614 140.707637%2c100.295363 L140.707637%2c100.964758 Z M139.317915%2c100.280811 C139.317915%2c99.0244765 139.065682%2c98.0604118 138.561208%2c97.388588 C138.056733%2c96.7167643 137.350965%2c96.3808574 136.443882%2c96.3808574 C135.561052%2c96.3808574 134.866198%2c96.7167643 134.359298%2c97.388588 C133.852399%2c98.0604118 133.591677%2c98.9929474 133.577125%2c100.186223 L133.577125%2c100.964758 C133.577125%2c102.182287 133.832996%2c103.139076 134.344746%2c103.835153 C134.856497%2c104.531231 135.561052%2c104.879264 136.458434%2c104.879264 C137.360667%2c104.879264 138.059159%2c104.550633 138.553932%2c103.893362 C139.048704%2c103.23609 139.303363%2c102.293853 139.317915%2c101.066623 L139.317915%2c100.280811 Z M144.770109%2c105.919737 L144.770109%2c95.3258326 L148.2335%2c95.3258326 C149.383119%2c95.3258326 150.247746%2c95.563514 150.827406%2c96.0388839 C151.407066%2c96.5142538 151.696892%2c97.2175966 151.696892%2c98.1489335 C151.696892%2c98.6437062 151.556223%2c99.0814765 151.274882%2c99.4622575 C150.993541%2c99.8430384 150.61034%2c100.137715 150.125269%2c100.346295 C150.697653%2c100.506369 151.149975%2c100.810747 151.482249%2c101.259438 C151.814523%2c101.708129 151.980657%2c102.242912 151.980657%2c102.863803 C151.980657%2c103.814543 151.672642%2c104.561541 151.056601%2c105.104821 C150.440561%2c105.648101 149.569871%2c105.919737 148.444505%2c105.919737 L144.770109%2c105.919737 Z M146.167107%2c100.964758 L146.167107%2c104.7774 L148.473609%2c104.7774 C149.123605%2c104.7774 149.63656%2c104.60884 150.01249%2c104.271715 C150.388421%2c103.934591 150.576383%2c103.470142 150.576383%2c102.878355 C150.576383%2c101.602617 149.882741%2c100.964758 148.495437%2c100.964758 L146.167107%2c100.964758 Z M146.167107%2c99.8442492 L148.277156%2c99.8442492 C148.888346%2c99.8442492 149.377048%2c99.691454 149.743277%2c99.3858591 C150.109506%2c99.0802642 150.292618%2c98.6655345 150.292618%2c98.1416575 C150.292618%2c97.5595719 150.122845%2c97.1363535 149.783295%2c96.8719897 C149.443745%2c96.6076258 148.927152%2c96.4754459 148.2335%2c96.4754459 L146.167107%2c96.4754459 L146.167107%2c99.8442492 Z M162.0022%2c101.022967 L157.411023%2c101.022967 L157.411023%2c104.7774 L162.744355%2c104.7774 L162.744355%2c105.919737 L156.014024%2c105.919737 L156.014024%2c95.3258326 L162.671595%2c95.3258326 L162.671595%2c96.4754459 L157.411023%2c96.4754459 L157.411023%2c99.8806294 L162.0022%2c99.8806294 L162.0022%2c101.022967 Z M170.335702%2c101.634153 L167.847299%2c101.634153 L167.847299%2c105.919737 L166.443025%2c105.919737 L166.443025%2c95.3258326 L169.950073%2c95.3258326 C171.143348%2c95.3258326 172.061332%2c95.5974685 172.704051%2c96.1407484 C173.346771%2c96.6840282 173.668125%2c97.4746826 173.668125%2c98.5127351 C173.668125%2c99.1724321 173.489864%2c99.747233 173.133337%2c100.237155 C172.77681%2c100.727077 172.280832%2c101.0933 171.645388%2c101.335836 L174.133792%2c105.832424 L174.133792%2c105.919737 L172.634929%2c105.919737 L170.335702%2c101.634153 Z M167.847299%2c100.491816 L169.993729%2c100.491816 C170.687381%2c100.491816 171.239141%2c100.312342 171.649026%2c99.9533897 C172.058911%2c99.5944369 172.263851%2c99.1142236 172.263851%2c98.5127351 C172.263851%2c97.8578889 172.068613%2c97.3558476 171.67813%2c97.0065963 C171.287648%2c96.657345 170.723761%2c96.4802966 169.986453%2c96.4754459 L167.847299%2c96.4754459 L167.847299%2c100.491816 Z M187.322853%2c105.919737 L185.969511%2c105.919737 L185.969511%2c96.948388 L183.25555%2c97.9452046 L183.25555%2c96.722831 L187.111848%2c95.2749004 L187.322853%2c95.2749004 L187.322853%2c105.919737 Z M198.916018%2c102.361757 L200.385777%2c102.361757 L200.385777%2c103.460438 L198.916018%2c103.460438 L198.916018%2c105.919737 L197.562676%2c105.919737 L197.562676%2c103.460438 L192.738666%2c103.460438 L192.738666%2c102.66735 L197.48264%2c95.3258326 L198.916018%2c95.3258326 L198.916018%2c102.361757 Z M194.266633%2c102.361757 L197.562676%2c102.361757 L197.562676%2c97.166669 L197.402604%2c97.4577103 L194.266633%2c102.361757 Z' id='TUESDAY%2c-OCTOBER-14' fill='%23E6E6E6'%3e%3c/path%3e %3cpath d='M24.1073152%2c65.9842105 L18.6939466%2c65.9842105 L18.6939466%2c6.79804687 L0.82983013%2c13.4294234 L0.82983013%2c8.37694606 L23.2050871%2c0.0764474969 L24.1073152%2c0.0764474969 L24.1073152%2c65.9842105 Z M76.0836285%2c65.9842105 L70.6702599%2c65.9842105 L70.6702599%2c6.79804687 L52.8061434%2c13.4294234 L52.8061434%2c8.37694606 L75.1814004%2c0.0764474969 L76.0836285%2c0.0764474969 L76.0836285%2c65.9842105 Z M151.30029%2c65.9842105 L145.886921%2c65.9842105 L145.886921%2c6.79804687 L128.022805%2c13.4294234 L128.022805%2c8.37694606 L150.398062%2c0.0764474969 L151.30029%2c0.0764474969 L151.30029%2c65.9842105 Z M218.614481%2c3.41469148 L190.555187%2c65.9842105 L184.916261%2c65.9842105 L212.79511%2c4.90336786 L175.442866%2c4.90336786 L175.442866%2c0.302004523 L218.614481%2c0.302004523 L218.614481%2c3.41469148 Z' id='11-17' fill='%23E6E6E6'%3e%3c/path%3e %3ccircle id='Oval-2' fill='%23DEDEDE' cx='106.348026' cy='8.46513158' r='4.47039474'%3e%3c/circle%3e %3ccircle id='Oval-2-Copy' fill='%23DEDEDE' cx='106.348026' cy='50.1888158' r='4.47039474'%3e%3c/circle%3e %3c/g%3e %3cg id='Status-Bar' transform='translate(33.300000%2c 56.700000)' fill='%23EBEBEB'%3e %3cpath d='M352.864286%2c0 C349.127679%2c0 345.640179%2c1.25357143 342.9%2c3.34285714 L352.864286%2c16.7142857 L362.828571%2c3.34285714 C360.088393%2c1.25357143 356.600893%2c0 352.864286%2c0 L352.864286%2c0 Z M352.864286%2c6.68571429 C351.203571%2c6.68571429 349.708929%2c7.10357143 348.297321%2c7.77214286 L345.308036%2c3.76071429 C347.55%2c2.42357143 350.124107%2c1.67142857 352.864286%2c1.67142857 C355.604464%2c1.67142857 358.178571%2c2.42357143 360.420536%2c3.76071429 L357.43125%2c7.85571429 C356.019643%2c7.10357143 354.525%2c6.68571429 352.864286%2c6.68571429 L352.864286%2c6.68571429 Z' id='Shape'%3e%3c/path%3e %3cpath d='M333.148352%2c5.22321429 L328.638462%2c0.642857143 L327.847253%2c0.642857143 L327.847253%2c6.75 L324.207692%2c3.05357143 L323.1%2c4.17857143 L327.530769%2c8.67857143 L323.1%2c13.1785714 L324.207692%2c14.3035714 L327.847253%2c10.6071429 L327.847253%2c16.7142857 L328.638462%2c16.7142857 L333.148352%2c12.1339286 L329.746154%2c8.67857143 L333.148352%2c5.22321429 L333.148352%2c5.22321429 Z M329.42967%2c3.69642857 L330.932967%2c5.22321429 L329.42967%2c6.75 L329.42967%2c3.69642857 L329.42967%2c3.69642857 Z M330.932967%2c12.1339286 L329.42967%2c13.6607143 L329.42967%2c10.6071429 L330.932967%2c12.1339286 L330.932967%2c12.1339286 Z' id='Shape'%3e%3c/path%3e %3cpath d='M380.515396%2c2.13142857 L378.671564%2c2.13142857 L378.671564%2c0.422857143 L374.255199%2c0.422857143 L374.255199%2c2.13142857 L372.411366%2c2.13142857 C371.605379%2c2.13142857 370.942925%2c2.644 370.942925%2c3.26762857 L370.942925%2c16.3638286 C370.942925%2c16.996 371.605379%2c17.5085714 372.411366%2c17.5085714 L380.504355%2c17.5085714 C381.321383%2c17.5085714 381.983838%2c16.996 381.983838%2c16.3723714 L381.983838%2c3.26762857 C381.983838%2c2.644 381.321383%2c2.13142857 380.515396%2c2.13142857 Z M375.35929%2c15.8 L375.35929%2c11.1014286 L373.151107%2c11.1014286 L377.567472%2c4.69428571 L377.567472%2c9.39285714 L379.775655%2c9.39285714 L375.35929%2c15.8 Z' id='Shape' fill-rule='nonzero'%3e%3c/path%3e %3c/g%3e %3cg id='Cameras' transform='translate(70.200000%2c 16.200000)' fill='%23EBEBEB'%3e %3ccircle id='Oval-Copy' cx='5.625' cy='9.7875' r='5.625'%3e%3c/circle%3e %3crect id='Rectangle-Copy-2' x='46.9125' y='3.0375' width='30.9375' height='12.9375' rx='6.46875'%3e%3c/rect%3e %3ccircle id='Oval-4-Copy-3' cx='28.8' cy='9.7875' r='7.875'%3e%3c/circle%3e %3cellipse id='Oval-4-Copy-2' cx='239.4' cy='11.0724594' rx='11.25' ry='11.0724594'%3e%3c/ellipse%3e %3cellipse id='Oval-4-Copy' cx='271.85625' cy='9.94003308' rx='8.15625' ry='8.02753308'%3e%3c/ellipse%3e %3crect id='speaker' x='127.8' y='3.6' width='54' height='13.5' rx='6.75'%3e%3c/rect%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/g%3e %3c/svg%3e");
    line-height: 1px;
    margin: 0px auto;
    transition: height 0.3s ease-out 0s;
}

.mob-conteiner-geral {
    position: relative;
    top: 280px;
    width: 90%;
    cursor: pointer;
    margin: auto;
}

.mob-conteiner {
    height: 55px; /*270*/
    font-family: Roboto, Proxima-Nova, "Proxima Nova", "Open Sans", Arial, Helvetica, sans-serif;
    background-color: rgb(254, 254, 254);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    max-width: 500px;
    overflow-y: hidden;
    box-sizing: content-box;
    padding: 16px;
    border-radius: 2px;
    transition: height 0.3s ease-out 0s;
}

.mob-conteiner-superior {
    display: flex;
    font-size: 12px;
    line-height: 15px;
}

.mob-icon-superior {
    width: 13.12px;
    height: 13.12px;
    fill: rgb(117, 117, 117);
    margin-right: 5.9px;
}

.mob-texto-superior {
    color: rgb(99, 99, 99);
    margin-right: 4px;
}

.mob-icon-ocultar {
    display: none;
    background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M7.41%2c15.41L12%2c10.83L16.59%2c15.41L18%2c14L12%2c8L6%2c14L7.41%2c15.41Z' /%3e%3c/svg%3e");
    background-size: cover;
    width: 15px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.mob-icon-mostrar {
    display: none;
    background-image: url("data:image/svg+xml,%3c%3fxml version='1.0' encoding='UTF-8'%3f%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M7.41%2c8.58L12%2c13.17L16.59%2c8.58L18%2c10L12%2c16L6%2c10L7.41%2c8.58Z' /%3e%3c/svg%3e");
    background-size: cover;
    width: 15px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.mob-conteiner-texto-geral {
    margin-top: 8px;
}

.mob-conteiner-texto {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.mob-conteiner-texto-sub {
    line-height: 1px;
}

.mob-conteiner-titulo {
    color: rgb(83, 83, 83);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    display: inline-block;
    width: 315px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    overflow: hidden;
}

.mob-conteiner-titulo-sub {
    font-size: 14px;
    line-height: 20px;
    color: rgb(117, 117, 117);
    font-weight: 400;
    letter-spacing: 0.1px;
    display: inline-block;
    width: 315px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    overflow: hidden;
}

.mob-conteiner-imagem-destaque {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    background-color: rgb(204, 204, 204);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.mob-icon {
    display: none;
    width: 38px;
    min-width: 38px;
    max-width: 38px;
    min-height: 38px;
    max-height: 38px;
    height: 38px;
    background-color: rgb(204, 204, 204);
}